.fieldset{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 2em;
    border: 2px solid #571e3e;
    color: #571e3e;
    border-radius: 10px;
}

.legend{
    text-transform: uppercase;
    font-weight: 600;
}

.label{
    font-weight: 500;
    text-align: left;
    margin: 1em 0 .2em 0;
}

.label:nth-child(11), .label:nth-child(12), .label:nth-child(13){
    margin: 0;
}

.input{
    border: none;
    box-shadow: 0 0 0 1px #e67a2a;
    border-radius: 10px;
    height: 2em;
    padding-left: 1em;
}

.inputRadio {
    box-shadow: none;
    width: .1px;
    opacity: 0; 
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px #e67a2a;
    background-color: #ececec; 
}

.radioCustom{
    display: inline-block;
    border: 1px solid #e67a2a;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: auto 5px auto -7px;
}

.inputRadio:focus ~ .radioCustom{
    outline: none;
    box-shadow: 0 0 0 1px #e67a2a;
    background-color: #ececec;
}

.inputRadio:checked ~ .radioCustom{
    box-shadow: none;
    background-color: #571e3e;
    border: 2px solid #e67a2a;
}

.others{
    width: 100%;
    margin-top: .2em;
}