.container{
    animation: appear .3s;
}

@keyframes appear {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}

.list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: absolute;
    bottom: -70%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #571e3e;
    border-radius: 10px;
    z-index: 5;
}

.link{
    display: inline-block;
    width: 100%;
    padding: .8em .5em;
    font-size: .8em;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear, background-color .2s linear;
}

.link:hover{
    color: #e67a2a;
}

.arrow{
    position: absolute;
    right: 50%;
    bottom: -31%;
    transform: translateX(50%) rotate(45deg);
    display: inline-block;
    width: 3rem;
    height: 3.2rem;
    z-index: 5;
    background-color: #571e3e;
    
}

@media screen and (min-width: 360px){
    .list{
        bottom: -50%;
    }
}

@media screen and (min-width: 385px){
    .list{
        bottom: -65%;
    }

    .arrow{
        bottom: -43%;
    }
}

@media screen and (min-width: 412px) and (max-width: 456px){
    .list{
        bottom: -72%;
    }

    .arrow{
        right: 50%;
        bottom: -30%; 
    }
}

@media screen and (min-width: 457px) and (max-width: 488px){
    .list{
        bottom: -50%;
    }

    .arrow{
        right: 50%;
        bottom: -30%;
    }
}

@media screen and (min-width: 730px){
    .list{
        flex-flow: column;
        top: 42.7%;
        right: -70%;
        bottom: 0%;
    }

    .link{
        border-top: 1px dotted #e67a2a;
    }

    .list li:first-child .link{
        border-top: none;
    }

    .arrow{
        top: 66%;
        right: -27%;
        bottom: 0%;
        display: inline-block;
        width: 3rem;
        height: 3.2rem;
        transform: rotate(45deg);
        z-index: 5;
    }
}