.nav{
    grid-area: 2/1/3/-1;
    margin: auto;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw;
}

.list:first-child{
    border-top: 1px dotted #e67a2a;
}

.itensList{
    font-size: .9em;
    border-bottom: 1px dotted #e67a2a;
}

.itensListLink{
    display: block;
    padding: 2em;
    text-decoration: none;
    color: #fff;
    transition: color .2s linear;
    text-transform: uppercase;
    font-weight: 600;
}

.itensListLink:hover{
    background-color: #e67a2a;
}

.background{
    background-color: #e67a2a;
}

@media screen and (min-width: 64em) {
    .nav{
        grid-area: 1/3/2/4;
    }

    .list{
        display: flex;
        width: auto;
    }

    .list:first-child{
        border-top: none;
    }

    .itensList{
        border: none;
        animation: none;
    }

    .itensListLink{
        margin: 1.7em 1.5em;
        padding: .6em 1em;
        border-radius: 20px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1125px){
    .itensListLink{
        margin: 0;
    }
}