.fieldset{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 2em;
    border: 2px solid #571e3e;
    color: #571e3e;
    border-radius: 10px;
    height: 43.6em;
}

.legend{
    text-transform: uppercase;
    font-weight: 600;
}

.label{
    font-weight: 500;
    text-align: left;
    margin: 1em 0 .2em 0;
}

.input{
    border: none;
    box-shadow: 0 0 0 1px #e67a2a;
    border-radius: 10px;
    height: 2em;
    padding-left: 1em;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 1.5px #e67a2a;
    background-color: #ececec; 
}