.menuNavigation{
    grid-area: 2/1/3/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: linear-gradient(#571e3e 79.5px, #571e3ef6 79.5px);
    transition-delay: .2s;
}

.logoLink{
    grid-area: 1/1/2/2;
    margin: auto 25% auto 5%;
}

.logo{
    transform: translateY(2px);
    height: 75.5px;
    width: 145.5px;
}
.btnMenu{
    grid-area: 1/2/2/3;
    margin: auto;
    font-size: .8em;
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 2em;
}

.btnMenu:focus{
    outline: none;
}

@media screen and (min-width: 48em) {

    .menuNavigation{
        background-image: linear-gradient(#571e3e 94.5px, #571e3ef6 94.5px);
    }

    .logo{
        height: 90.6px;
        width: 174.6px;
    }
}

@media screen and (min-width: 64em) {
    .menuNavigation{
        display: flex;
        justify-content: center;
        background-color: #571e3e;
        transition: none;
    }

    .logoLink{
        margin: auto 0 auto 1em;
    }

    .logo{
        height: 113.25px;
        width: 218.25px;
    }

    .btnMenu{
        display: none;
    }
}