.checkboxContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #ececec;
    z-index: 2;
    text-align: center;
    font-size: .7em;
    color: #571e3e;
    overflow: auto;
}

.checkboxContainer input[type='checkbox']{
    width: .1px;
    opacity: 0;
}

.checkboxContainer h4:nth-child(2){
    margin-top: 10px;
}

.title{
    margin: 1em 3em .5em 3em;
    font-size: 12px;
}

.invisible{
    opacity: 0;
}

.span{
    display: inline-block;
    font-size: .9em;
}

.advise{
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 3em;
}

.advise span{
    color:#e67a2a;
    font-weight: 600;
    font-size: 1.2em;
}

.text{
    display: inline-block;
    width: 65%;
    text-align: left;
    margin-top: 0;
}

.contrast{
    text-transform: uppercase;
    color:#e67a2a;
}

.btnExit{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    border: none;
    background-color: transparent;
    padding: 5px 8px;
}

.icon_times{
    color:#571e3e;
    font-size: 1.5em;
}

.checkbox{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.checkboxFlexItems{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.checkboxCustom{
    display: inline-block;
    border: 1px solid #571e3e;
    width: 1.15em;
    height: 1.15em;
    border-radius: 2px;
    margin: auto 5px;
}

.checkboxContainer input[type="checkbox"]:focus + .checkboxCustom {
    outline: none;
    box-shadow: 0 0 0 1px #571e3e; 
}

.checkboxContainer input[type="checkbox"]:checked + .checkboxCustom {
    box-shadow: none;
    background-color: #571e3e; 
}

.checkboxContainer input[type="checkbox"]:checked + .checkboxCustom span {
    display: inline-block;
    width: .4em;
    height: .8em;
    border: 2px solid #e67a2a;
    border-top: none;
    border-left: none;
    transform: translateY(-1.5px) rotate(42deg); 
}