.sectionContainer{
  padding-top: 4.8em;
  margin-top: 67.5em;
}

.container{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.title{
  color: #571e3e;
  font-size: 36px;
  text-align: left;
}

.subtitleContainer{
  display: flex;
  align-items:flex-end;
  justify-content: flex-start;
}

.icon{
  margin-bottom: .5em;
  margin-right: .5em;
}

.subtitle{
  display: none;
}

.imgContainer{
  background-image: url(../../public/area-ext.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

.flexColumnContainer{
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 3em 2em;
  height: 30%;
  width: 100%;
  color: #e67a2a;
  font-weight: 500;
  text-align: left;
}

.imgContainer {
  animation: caroussel 18s ease-out infinite; 
}

@media screen and (min-width: 854px) {
  .sectionContainer{
    padding-top: 4.8em;
    margin-top: 55em;
  }

  .flexColumnContainer{
    position: relative;
    background-color: transparent;
    width: 235px;
    color: #571e3e;
    padding: .5em;
    height: 25%;
  }

  .subtitleContainer{
    align-self: flex-start;
  }

  .imgContainer{
    width: 70%;
  }

  .title{
    margin-bottom: 1.5em;
  }

  .subtitle{
    color: #571e3e;
    margin: 0;
    margin-bottom: .5em;
    font-size: 22px;
  }
}

@media screen and (min-width: 64em) {
  .imgContainer {
    animation: caroussel 18s ease-out infinite; 
  }
}

@keyframes caroussel {
  25% {
    background-image: url(../../public/area-ext.jpg); 
  }
  33% {
    background-image: url(../../public/area-int-1.png); 
  }
  58% {
    background-image: url(../../public/area-int-1.png); 
  }
  67% {
    background-image: url(../../public/area-int-2.png); 
  }
  92% {
    background-image: url(../../public/area-int-2.png); 
  }
  to {
    background-image: url(../../public/area-ext.jpg); 
  } 
}
