.title{
    color: #5D1D3F;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

.phrase{
    margin: 0;
    margin-bottom: 2em;
    line-height: 1.5;
}

.text{
    color: #5D1D3F;
    font-size: 13px;
    position: absolute;
    left: 8px;
    top: -40px;
    cursor: pointer;
    text-decoration: none;
}
.text:focus{
    color: #5D1D3F;
}

.icon{
    color: #5D1D3F;
    font-size: 1rem;
    margin-right: .6rem;
}

.title, .text, .phrase, .icon, .img{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}