.containerDeliveryMenu{
    position: relative;
    background-color: rgba(87, 30, 62, .95);
    color: #fff;
    border-radius: 10px;
    margin-top: .2em;
    padding: .5em;
}

.list{
    display: flex;
    flex-flow: row wrap;
    justify-content:left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li_Menu{
    width: 126px;
    text-align: left;
}

.li_SubMenu{
    width: 155px;
    text-align: left;
}

.subtitle{
    font-size: 20px;
    margin: 0;
    padding: .5em;
    border-bottom: 1px dotted #e67a2a;
}

.link{
    display: inline-block;
    padding: .6em .8em;
    margin: .5em 0;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear, background-color .2s linear;
}

.link:hover{
    background-color: #e67a2a;
}

.list li:last-child{
    cursor: pointer;
}

.icon{
    position: absolute;
    top: 5%;
    right: 2%;
    padding: .2em;
    color: #fff;
    cursor: pointer;
}