.containerDeliveryMenu{
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: #571e3e;
    color: #fff;
    border-radius: 10px;
    margin: 2em auto 6em auto;
}

.list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.subtitle{
    text-transform: uppercase;
    margin: 10px auto;
    font-size: 18px;
}

.link{
    display: inline-block;
    width: 100%;
    padding: 1em;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear, background-color .2s linear;
}

.link:hover{
    color: #e67a2a;
}

.list li:last-child{
    cursor: pointer;
}


@media screen and (min-width: 730px){
    .containerDeliveryMenu{
        display: block;
        width: 13em;
        height: 456px;
        margin-top: 0;
        margin: auto 0;
    }

    .list{
        flex-flow: column;
    }

    .link{
        border-top: 1px dotted #e67a2a;
        font-size: 16px;
        padding: 1.5em auto;
    }
    
    .list li:last-child{
        border-bottom: 1px dotted #e67a2a;
    }

    .subtitle{
        margin: 1.8em auto;
    }
}


@media screen and (min-width: 730px) and (max-width: 789px) {
    .editBorder{
        border-radius: 10px 0 0 10px;
    }
}